
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family:  'Roboto Slab',sans-serif;
    font-size: 16px;

}
h2{
    text-align: center;
    font-family:  'Roboto Slab'
}
h3{
    color: green;
    font-family:  'Roboto Slab';
    font-size: 18px;
    font-weight: 900;
}
.container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-height: 100vh;

    justify-items: center;
    align-items: center;

}

#rest {
    font-family:  'Roboto', Helvetica, sans-serif;
    border: 3px solid #ddd;
    width: 100%;
    border-radius: 7px;

  }

  #rest td, #students th {
    border: 2px solid #ddd;
    padding: 5px;
    text-align: start;
    height: 35px;
    width:max-content;
  }

 /*  #users tr:nth-child(even){background-color: #f2f2f2;} */

  #rest tr:hover {background-color: #ddd;
    cursor: pointer;}

  #rest th {
    padding: 5px;
    background-color: gray;
    color: white;
    text-align: start;

  }
  #rest td {
    padding: 5px;
    width:fit-content;
    text-align: start;

  }

  .restinfo-wrapper{

      display: flex;
      width: 70vw;
      height: 70vh;
      flex-direction: column;
      gap:2rem;
      padding: 40px;



  }
  .addbtn{
      background-color: #2878C9;
      color: white;
      padding: 2px;
      border-radius: 3px;
      border:#2878C9;
      width: 30%;
    }

  .removebtn{
    background-color: #D52122;
    color: white;
    padding: 1px;
    width:180px;
}
.delete{

    font-weight: bolder;
    font-size: 15px;
    justify-content: flex-start;
    display: flex;
    width: fit-content;
    width: 300px;
}
.serachBox{
    display: flex;
    flex-direction: row;
    gap:1rem;
}
input[type=text]{
    width: 80%;
    height:30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    padding: 20px;
  }
  .pagination{
      display: flex;
      flex-direction: row;
      gap:2rem

  }
  button{
  padding: 5px;
  border-radius: 7px;
  width: 150px;
  font-size: 18px;
  }

  button:active{
    border: 3px solid #0d60cc;
}
  input:focus{
    outline: none;
    border: 2px solid #0d60cc;
}
a {
    text-decoration: none;
    display: inline-block;
  }

  button:hover {
    background-color: #ddd;
    color: black;
  }

